<div class="content-section introduction">
    <div>
        <span class="feature-title">Sidebar</span>
        <span>Sidebar is a panel component displayed as an overlay.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Left Sidebar</h1>
        <button pButton type="lg-button" (click)="visibleSidebar1 = false" label="Save" class="btn btn-primary submit"></button>
        <button pButton type="lg-button" (click)="visibleSidebar1 = false" label="Cancel" class="btn btn-primary submit"></button>
    </p-sidebar>
</div>
