<section class="container">
<article class="half">
      <h1>FASTEXP</h1>
      <div class="tabs">
            <span class="tab signin active"><a [routerLink]="['/login']">Iniciar</a></span>
            <span class="tab signup"><a [routerLink]="['/register']">Registrarse</a></span>
      </div>
<div class="content">
<div class="signin-cont cont">
     <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
            <input type="text" name="userName" [(ngModel)]="model.userName" class="inpt" #userName="ngModel" required="required" placeholder="Nombre usuario">
            <label for="userName">Nombre de usuario</label>
       </div>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" name="password" class="inpt" [(ngModel)]="model.password"  #password="ngModel" required="required" placeholder="Contraseña">
            <label for="password">Contraseña</label>
            <input type="checkbox" id="remember" class="checkbox" checked>
            <label for="remember">Recordarme</label>
            <div class="submit-wrap">
              <input type="submit" value="Iniciar Sesion" class="submit">
              <a href="#" class="more">Forgot your password?</a>
            </div>
        </div>
      </form>
</div>
</div>
</article>
<div class="half bg"></div>
</section>
